<!-- index page with feature carousel -->

<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>

						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<a href="/"><%= image_tag "logo_full.png" %></a>
									<h2>Where Posh Cats Shop</h2>
									<p>Check out the hottest fashions from Meowant Park's runways! </p>
									<%= link_to 'Get It Now', items_path, class: "btn btn-default get" %>
								</div>
								<div class="col-sm-6">
									<%= image_tag("cat_cleopatra.jpg", :class => "cat img-responsive") %>
									<!-- <img src="images/home/pricing.png"  class="pricing" alt="" /> -->
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<a href="/"><%= image_tag "logo_full.png" %></a>
									<h2>Where Posh Cats Shop</h2>
									<p>Halloween is coming! Kitty is sure to get only treats in our new luchador masks! </p>
									<%= link_to 'Get It Now', items_path, class: "btn btn-default get" %>
								</div>
								<div class="col-sm-6">
									<%= image_tag("cat_luchas.jpg", :class => "cat img-responsive") %>
									<!-- <img src="images/home/pricing.png"  class="pricing" alt="" /> -->
								</div>
							</div>

							<div class="item">
								<div class="col-sm-6">
									<a href="/"><%= image_tag "logo_full.png" %></a>
									<h2>Where Posh Cats Shop</h2>
									<p>You asked, and we delivered! Rainbow gLitter available now! </p>
									<%= link_to 'Get It Now', items_path, class: "btn btn-default get" %>
								</div>
								<div class="col-sm-6">
									<%= image_tag("bling_litter.jpg", :class => "cat img-responsive") %>
									<!-- <img src="images/home/pricing.png" class="pricing" alt="" /> -->
								</div>
							</div>

						</div>

						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section><!--/slider-->

	<section><!--/sidebar and feature-->
		<div class="container">
			<div class="row">

				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
							<div class="panel-group category-products" id="accordian"><!--category-productsr-->
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordian" href="#collars">
												<span class="badge pull-right"><i class="fa fa-plus"></i></span>
												Collars & Leashes
											</a>
										</h4>
									</div>
									<div id="collars" class="panel-collapse collapse">
										<div class="panel-body">
											<ul>
												<li><a href="items">Swarovski </a></li>
												<li><a href="items">Coach </a></li>
												<li><a href="items">Chanel </a></li>
												<li><a href="items">Puma</a></li>
											</ul>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordian" href="#fashion">
												<span class="badge pull-right"><i class="fa fa-plus"></i></span>
												Fashion
											</a>
										</h4>
									</div>
									<div id="fashion" class="panel-collapse collapse">
										<div class="panel-body">
											<ul>
												<li><a href="items">Fendi</a></li>
												<li><a href="items">Guess</a></li>
											</ul>
										</div>
									</div>
								</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="items">
											Feeding Accessories
										</a>
									</h4>
								</div>
								<div id="dishes" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="items">Single Bowl</a></li>
											<li><a href="items">Double Bowls</a></li>
											<li><a href="items">Timed Feeders</a></li>
											<li><a href="items">Water Fountains</a></li>
											<li><a href="items">Fresh Greens</a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="items">Litter</a></h4>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="items">Litter Boxes</a></h4>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="items">Food</a></h4>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="items">Furniture</a></h4>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="items">Toys</a></h4>
								</div>
							</div>
						</div><!--/category-products-->
					</div><!--/left-sidebar-->
				</div><!--/col-sm-3-->

				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--featured_items-->
						<h2 class="title text-center">Featured Items</h2>

					<% 6.times do %>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<%= image_tag "bling_collars.jpg" %>
										<h2>$99.99</h2>
										<p>Blinged Cat Collar</p>
										<a href="items" class="btn btn-default add-to-cart">See Products</a>
									</div>
								</div>
							</div>
						</div>
					<% end %>

				</div><!--/col-sm-9-->
			</div><!--/row-->
		</div><!--/container-->
	</section><!--/sidebar and feature-->
