<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<% @items.each do |item| %>
		<h3><%= item.name %> </h3>

			<%unless item.image.blank?%>
				<p>
			<%= image_tag(item.image.thumb) %>
				</p>
		<%end%>
		<p><%= item.short_description %> </p>
		<%= link_to 'Show', item, class: "btn btn-small btn-primary" %>
<% end  %>
<p><%=link_to 'Cart', cart_index_path, class: "btn btn-small btn-primary"  %></p>