<p id="notice"><%= notice %></p>
<div class="container">
	<div class="row">
		<div class="col-sm-12 padding-right">
			<div class="features_items"><!--featured_items-->
				<h2 class="title text-center">Listing Items</h2>
					<% @items.each do |item| %>
						<div class="col-sm-3">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
											<%unless item.image.blank?%>
												<p><%= image_tag(item.image.url) %></p>
											<%end%>
										<h4><%= link_to item.name, item %></h4>
										<p><%= item.short_description %></p>
										<h2><%= item.price %></h2>
									</div>
								</div>
							</div>
						</div>
					<% end  %>
				
			</div>
		</div>
	</div>
</div>
