<p id="notice"><%= notice %></p>
<div class="container">
	<div class="row">
		<h1><%= @item.name %></h1>
		<h4><%= @item.description %></h4>

		<% unless @item.image.blank?  %>
			<%= image_tag(@item.image.url) %>
		<%end  %>

		<h2><%= number_to_currency(@item.price) %></h2>

		<%= form_tag("/cart", action: update_cart_path(@item), method: "patch") do %>
				<input name="item_id" type="hidden" value=<%=@item.id  %> />
				<button type="submit" class="btn btn-submit add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a></button>
		<% end %>

		<%= link_to 'Back', items_path, class: "btn btn-default" %>
	</div>
</div>
