<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<% unless @item.image.blank?  %>
		<p>
			<strong>Image:</strong>
			<p><%= image_tag(@item.image.url) %></p>

		</p>
<%end  %>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<%= form_tag("/cart", action: update_cart_path(@item), method: "patch") do %>
		<input name="item_id" type="hidden" value=<%=@item.id  %> />
		<%= submit_tag("Add to Cart")  %>
<% end %>

<%= link_to 'Back', items_path, class: "btn btn-small btn-primary" %>
