<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Glamazon" %>">
    <meta name="author" content="Michael Nash & Kelly Bristol">
    <title><%= content_for?(:title) ? yield(:title) : "Glamazon" %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="assets/stylesheets/prettyPhoto.css" rel="stylesheet">
    <link href="assets/stylesheets/price-range.css" rel="stylesheet">
    <link href="assets/stylesheets/animate.css" rel="stylesheet">
    <link href="assets/stylesheets/main.css" rel="stylesheet">
    <link href="assets/stylesheets/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head><!--/head-->

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
      <%= render 'layouts/messages' %>
    <section>
      <%= yield %>
    </section>


    <footer id="footer"><!--Footer-->
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-sm-2">
              <div class="companyinfo">
              <h2>Glamazon</h2>
                <p>Bringing you the finest accessories for your distinguished cat.</p>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="address">
                <%= image_tag "map.png" %>
                <p>260 1st Ave S, #300 St. Petersburg, FL 33701</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <p class="pull-left">Copyright © 2015 GLAMAZON PET PRODUCTS, Inc. All rights reserved.</p>
            <p class="pull-right">Designed by <span><a target="_blank" href="http://www.theironyard.com">Michael Nash & Kelly Bristol</a></span></p>
          </div>
        </div>
      </div>
    </footer><!--/Footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/price-range.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
